{erl_opts, [
  debug_info
]}.

{deps, [
  {gun, {git, "https://github.com/ninenines/gun.git", {tag, "1.0.0-pre.5"}}},
  {jiffy, {git, "https://github.com/davisp/jiffy.git", {tag, "0.15.0"}}}
]}.

{relx, [
  {release, {coinverter_release, "0.0.1"}, [coinverter]},
  {dev_mode, true},
  {include_erts, true},
  {extended_start_script, true},
  {vm_args, "config/vm.args"},
  {sys_config, "config/sys.config"}
]}.
